@import '~/node_modules/bootstrap/scss/bootstrap.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    max-width: 100%;
}

#app {

    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.btn{
    border: 1px solid #1c918e;
    font-weight: 600;
    font-size: 14px;

    &:hover{
        filter: brightness(1.2);
    }

}
